/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>

 #define FIND &mt LG(A) LG(F)
 #define COPY &mt LG(C) LG(V)
 #define UNDO &mt LG(Z) LG(Y)
 #define MSS_CTL &mt LCTL LC(UP)
 #define BSP_CMD &mt LGUI BSPC
 #define TAB_CMD &mt LGUI TAB
 #define SFT_ENT &mt LSHIFT ENTER
 #define ALT_ESC &mt LALT ESC
 #define _________ &trans


 / {
 	keymap {
 		compatible = "zmk,keymap";

  default_layer {
 	bindings = <
 	FIND      &kp Z     &kp R      &kp L     &kp D     &kp W                                             &kp Y     &kp P     &kp U     &kp X     &kp Q     &kp BSLH
 	COPY      &kp H     &kp N      &kp T     &kp S     &kp C                                             &kp B     &kp I     &kp E     &kp O     &kp A     &kp GRAVE
 	UNDO      &kp K     &kp V      &kp M     &kp F     &kp G     ALT_ESC   MSS_CTL   MSS_CTL   ALT_ESC   &kp J     &kp SEMI  &kp COMMA &kp DOT   &kp FSLH  &kp SQT
 	                               &kp LGUI  SFT_ENT   &kp RET   &kp SPACE BSP_CMD   TAB_CMD   SFT_ENT   &kp TAB   &kp DEL   &kp CAPS
 			>;
 	    };
  lower_layer {
 	bindings = <
 	&kp TAB   &kp ASTRK    &kp SLASH    &kp PLUS   &kp MINUS &kp EQUAL                                          &kp PIPE  &kp LBRC  &kp RBRC  &kp AT    &kp EXCL  &kp GRAVE
 	&kp ENTER &kp LEFT     &kp UP       &kp DOWN   &kp RIGHT _________                                          &kp BSLH  &kp LPAR  &kp RPAR  &kp DLLR  &kp HASH  &kp TILDE
 	&kp ESC   &kp C_VOL_DN &kp C_VOL_UP &kp C_PREV &kp C_PP  &kp C_NEXT _________ _________ _________ _________ &kp UNDER &kp LBKT  &kp RBKT  &kp CARET &kp PRCNT &kp AMPS
 	                                    _________  _________  _________ _________ _________ _________ _________ _________ _________ _________
 			>;
 	    };
  raise_layer {
 	bindings = <
 	_________ &kp Z     &kp R     &kp L     &kp D     &kp W                                             &kp Y     &kp P     &kp U     &kp X     &kp Q     &kp BSLH
 	_________ &kp H     &kp N     &kp T     &kp S     &kp C                                             &kp B     &kp I     &kp E     &kp O     &kp A     &kp GRAVE
 	_________ _________ _________ _________ _________ _________ _________ _________ _________ _________ _________ &kp SEMI  &kp COMMA &kp DOT   &kp FSLH  &kp SQT
 	                              _________ _________ _________ _________ _________ _________ _________ _________ _________ _________
 			>;
 	    };
  adjust_layer {
 	bindings = <
 	FIND      &kp Z     &kp R      &kp L     &kp D     &kp W                                            &kp Y     &kp P     &kp U     &kp X     &kp Q     &kp BSLH
 	COPY      &kp H     &kp N      &kp T     &kp S     &kp C                                            &kp B     &kp I     &kp E     &kp O     &kp A     &kp GRAVE
 	UNDO      &kp K     &kp V      &kp M     &kp F     &kp G     ALT_ESC   MSS_CTL  MSS_CTL   ALT_ESC   &kp J     &kp SEMI  &kp COMMA &kp DOT   &kp FSLH  &kp SQT
 	                               &kp LGUI  SFT_ENT   &kp RET   &kp SPACE BSP_CMD  TAB_CMD   SFT_ENT   &kp TAB   &kp DEL   &kp CAPS
 			>;
 	    };
 	};
 };
