/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>

 #define FIND &mt LG(A) LG(F)
 #define COPY &mt LG(C) LG(V)
 #define MSS_CTL &mt LCTL LC(UP)
 #define BSP_CMD &mt LGUI BSPC
 #define TAB_CMD &mt LGUI TAB
 #define SFT_ENT &mt LSHIFT ENTER
 #define ALT_ESC &mt LALT ESC
 #define _________ &trans
 #define LOWER &mo 1
 #define RAISE &mo 2
 #define ADJUST &mo 3


 / {

 behaviors {
     s_right: s_right {
         compatible = "zmk,behavior-mod-morph";
         label = "S_RIGHT";
         #binding-cells = <0>;
         bindings = <&kp S>, <&kp RIGHT>;
         mods = <MOD_LCTL>;
         };
     t_down: t_down {
         compatible = "zmk,behavior-mod-morph";
         label = "T_DOWN";
         #binding-cells = <0>;
         bindings = <&kp T>, <&kp DOWN>;
         mods = <MOD_LCTL>;
         };
     n_up: n_up {
         compatible = "zmk,behavior-mod-morph";
         label = "N_UP";
         #binding-cells = <0>;
         bindings = <&kp N>, <&kp UP>;
         mods = <MOD_LCTL>;
         };
     h_left: h_left {
         compatible = "zmk,behavior-mod-morph";
         label = "H_LEFT";
         #binding-cells = <0>;
         bindings = <&kp H>, <&kp LEFT>;
         mods = <MOD_LCTL>;
      };
     undo: undo_redo {
        compatible = "zmk,behavior-mod-morph";
        label = "UNDO_REDO";
        #binding-cells = <0>;
        bindings = <&kp LG(Z)>, <&kp Y>;
        mods = <MOD_LGUI>;
     };
  };



 	keymap {
 		compatible = "zmk,keymap";

  default_layer {
 	bindings = <
 	FIND      &kp Z     &kp R     &kp L     &kp D     &kp W                                             &kp Y     &kp P     &kp U     &kp X     &kp Q     &kp BSLH
 	COPY      &h_left   &n_up     &t_down   &s_right  &kp C                                             &kp B     &kp I     &kp E     &kp O     &kp A     &kp GRAVE
 	&undo      &kp K     &kp V     &kp M     &kp F     &kp G     ALT_ESC   MSS_CTL   MSS_CTL   ALT_ESC   &kp J     &kp SEMI  &kp COMMA &kp DOT   &kp FSLH  &kp SQT
 	                              &kp LGUI  SFT_ENT   LOWER     &kp SPACE BSP_CMD   TAB_CMD   SFT_ENT   RAISE     &kp DEL   &kp CAPS
 			>;
 	    };
  lower_layer {
 	bindings = <
 	&kp TAB   &kp ASTRK    &kp SLASH    &kp PLUS   &kp MINUS &kp EQUAL                                          &kp PIPE  &kp LBRC  &kp RBRC  &kp AT    &kp EXCL  &kp GRAVE
 	&kp ENTER &kp LEFT     &kp UP       &kp DOWN   &kp RIGHT _________                                          &kp BSLH  &kp LPAR  &kp RPAR  &kp DLLR  &kp HASH  &kp TILDE
 	&kp ESC   &kp C_VOL_DN &kp C_VOL_UP &kp C_PREV &kp C_PP  &kp C_NEXT _________ _________ _________ _________ &kp UNDER &kp LBKT  &kp RBKT  &kp CARET &kp PRCNT &kp AMPS
 	                                    _________  _________  _________ _________ _________ _________ _________ ADJUST    _________ _________
 			>;
 	    };
  raise_layer {
 	bindings = <
 	_________ &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                                              &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
 	_________ &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                              &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp F12
 	_________ _________ _________ _________ _________ _________ _________ _________   _________ _________ _________ &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT &kp ESC
 	                              _________ _________ ADJUST    _________ _________   _________ _________ _________ _________ _________
 			>;
 	    };
  adjust_layer {
  bindings = <
 	&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                           _________ _________ _________ _________ _________ _________
 	_________ _________ _________ _________ _________ _________                                           _________ _________ _________ _________ _________ _________
 	_________ _________ _________ _________ _________ _________ _________ _________   _________ _________ _________ _________ _________ _________ _________ _________
 	                              _________ _________ _________ _________ _________   _________ _________ _________ _________ _________
 			>;
 	    };
 	};
 };
