/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>

 / {
 	keymap {
 		compatible = "zmk,keymap";

 		default_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
 // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
 // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
 //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
 			bindings = <
 	&mt LG(A) LG(F) &kp Z &kp R  &kp L    &kp D           &kp W                                                              &kp Y   &kp P    &kp U     &kp X   &kp Q    &kp BSLH
 	&mt LG(C) LG(V) &kp H &kp N  &kp T    &kp S           &kp C                                                              &kp B   &kp I    &kp E     &kp O   &kp A    &kp GRAVE
 	&mt LG(Z) LG(Y) &kp K &kp V  &kp M    &kp F           &kp G   &mt LALT ESC &mt LCTL LC(UP)  &mt LALT ESC &mt LCTL LC(UP) &kp J   &kp SEMI &kp COMMA &kp DOT &kp FSLH &kp SQT
 	                             &kp LGUI &mt LSHFT ENTER &kp RET &kp SPACE    &mt LGUI BSPC    &mt LGUI TAB &mt LSHFT ENTER &kp TAB &kp DEL  &kp CAPS
 			>;
 		};
 	};
 };
